<div class="social-medias" fxLayout="row" fxLayoutAlign="space-around center">

  <div>
    <div class="copyright">
      &copy; Copyright <strong><span>Phex Track</span></strong>. All Rights Reserved.
    </div>
    <div class="credits">
      Development by <a href="https://josielfaria.com/">Devjo Tecnologia</a>
    </div>
  </div>
  <div class="social-links">
    <a href="{{ listSocialMedias.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="{{ listSocialMedias.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="{{ listSocialMedias.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="{{ listSocialMedias.skype }}" target="_blank"><i class="fa fa-skype"></i></a>
    <a href="{{ listSocialMedias.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>
</div>