<div class="social-medias" fxLayout="row" fxLayoutAlign="space-around center">

  <div class="mr-lg-auto text-center text-lg-left">
    <div class="copyright">
      &copy; Copyright <strong><span>Phex Track</span></strong>. All Rights Reserved.
    </div>
    <div class="credits">
      Development by <a href="https://josielfaria.com/">Devjo Tecnologia</a>
    </div>
  </div>
  <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
    <a blank href="{{ listSocialMedias.twitter }}" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="{{ listSocialMedias.facebook }}" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="{{ listSocialMedias.instagram }}" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="{{ listSocialMedias.skype }}" target="_blank" class="google-plus"><i class="fa fa-skype"></i></a>
    <a href="{{ listSocialMedias.linkedin }}" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
  </div>
</div>