.card-info-home,
.card-item {
  margin-top: -70px;
  margin-bottom: 1rem;
  z-index: 1;
  min-width: 300px;
}

.card-item {
  z-index: 1;
  margin: 1rem;
  min-width: 200px;
}

@media screen and (min-width: 960px) {
  .card-item {
    margin: -70px 1rem 1rem 1rem;
  }
}