<div fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-sm="column wrap">
  <div fxFlex class="card-product efecct-lux" *ngFor="let product of listProducts">
    <div class="title-product"> {{ product.name }} </div>
    <img class="img-product" [src]="product.image" />
    <h3> {{ product.price | currency:'BRL':true:'1.2-2' }} <span> / month</span> </h3>
    <p> {{ product.description }}</p>
    <div class="card-item">
      <p *ngFor="let item of product.listDescriptions"><strong>-</strong> {{ item.description }} </p>
      <a href="#contact">
        <app-button text="Comprar"> </app-button>
      </a>
    </div>
  </div>

</div>