<div fxLayout="row wrap" fxLayoutAlign="center center ">
   
        <div class="card-product margin-top efecct-lux">
            <!-- <div class="price-header"> -->
            <h2>Plano 1</h2>
            <h1>
                <sup>$</sup>19<span> / month</span></h1>
            <!-- </div> -->
            <div class="card-item">

                <p><strong>50</strong> Serviço 1 </p>
                <p><strong>35</strong> Serviço 2 </p>
                <p><strong>40</strong> Serviço 4 </p>
                <p><strong>10</strong> Serviço 3 </p>
                <p><strong> Limited</strong> Support</p>
               
                <app-button> </app-button>

            </div>
        </div>
        <div class="card-product efecct-lux">
            <!-- <div class="price-header"> -->
            <h2>Plano 2</h2>
            <h1>
                <sup>$</sup>19<span> / month</span></h1>
            <!-- </div> -->
            <div class="card-item">

                <p><strong>50</strong> Serviço 1 </p>
                <p><strong>35</strong> Serviço 2 </p>
                <p><strong>40</strong> Serviço 4 </p>
                <p><strong>10</strong> Serviço 3 </p>
                <p><strong> Limited</strong> Support</p>
               
                <app-button> </app-button>

            </div>
        </div>
        <div class="card-product margin-top efecct-lux">
            <!-- <div class="price-header"> -->
            <h2>Plano 3</h2>
            <h1>
                <sup>$</sup>19<span> / month</span></h1>
            <!-- </div> -->
            <div class="card-item">

                <p><strong>50</strong> Serviço 1 </p>
                <p><strong>35</strong> Serviço 2 </p>
                <p><strong>40</strong> Serviço 4 </p>
                <p><strong>10</strong> Serviço 3 </p>
                <p><strong> Limited</strong> Support</p>
               
                <app-button> </app-button>

            </div>
        </div>


</div>