<div fxLayout="row wrap" fxLayoutAlign="center center ">

  <div class="card-product margin-top efecct-lux">
    <div class="title-product"> Plano 2 </div>
    <h3> <sup>$</sup>19<span> / month</span> </h3>

    <div class="card-item">
      <p><strong>50</strong> Serviço 1 </p>
      <p><strong>35</strong> Serviço 2 </p>
      <p><strong>40</strong> Serviço 4 </p>
      <p><strong>10</strong> Serviço 3 </p>
      <p><strong> Limited</strong> Support</p>

      <app-button> </app-button>
    </div>
  </div>


  <div class="card-product margin-top efecct-lux">
    <div class="title-product"> Plano 2 </div>
    <h3> <sup>$</sup>19<span> / month</span> </h3>

    <div class="card-item">
      <p><strong>50</strong> Serviço 1 </p>
      <p><strong>35</strong> Serviço 2 </p>
      <p><strong>40</strong> Serviço 4 </p>
      <p><strong>10</strong> Serviço 3 </p>
      <p><strong> Limited</strong> Support</p>

      <app-button> </app-button>
    </div>
  </div>

  <div class="card-product margin-top efecct-lux">
    <div class="title-product"> Plano 2 </div>
    <h3> <sup>$</sup>19<span> / month</span> </h3>

    <div class="card-item">
      <p><strong>50</strong> Serviço 1 </p>
      <p><strong>35</strong> Serviço 2 </p>
      <p><strong>40</strong> Serviço 4 </p>
      <p><strong>10</strong> Serviço 3 </p>
      <p><strong> Limited</strong> Support</p>

      <app-button> </app-button>
    </div>
  </div>

</div>