
/* You can add global styles to this file, and also import other style files */


$primary: #264173;
$secondary: #e63a34;
$primary-hover: #64728b;
$topbar: #292a2d;

$text-color: #292a2d;
$text-color-contrast:  #8b3c3a;

$box-shadow-color: #888888;