
/* You can add global styles to this file, and also import other style files */


$primary: #264173;
$secondary: #e63a34;
$primary-hover: #64728b;
$topbar: #292a2d;

$title: #5c5d5e;
$text-color:  #5c5d5e;
$text-color-contrast:  #8b3c3a;

$button-secondary: #292a2d;
$button-secondary-hover:  #757575;

$box-shadow-color: #888888;

$max-width-content: 1140px; //Esse limita a largura do conteuda no site


$bkg-section-1: #fff;
$bkg-section-2: #efefef;