<!-- <div class="flex-container" fxLayout.xs="column" fxLayoutAlign.gt-sm="start center stretch" fxLayoutGap.xs="2%"> -->
<!-- <div class="flex-container"  
       fxLayout.gt-xs="column" 
       fxLayoutAlign="start center stretch" 
       fxFlex="100%" 
       fxFlex.xs="100%" 
       fxFlex.sm="100%">
        -->
<div class="flex-container" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5]">

    <app-card></app-card>

  </div>


  </div>
  

<div>
  <app-button></app-button>

  <app-card-products></app-card-products>
</div>

<div>
  <app-carousel-partners>
    a
  </app-carousel-partners>

</div>
<!-- 
  <div class="flex-container" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5]">

  </div>
</div> -->