<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="main-cover">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1 class="main-title">{{mainInfoHome.title}}</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <h2 class="sub-title">{{mainInfoHome.subtitle}}</h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="btn-start">
        <a class="icon-start"><i class="fa fa-arrow-right"></i></a>
        <button class="button">Vamos lá!</button>
      </div>
    </div>
  </div>
</div>