p,
label {
  margin-left: 50px;
}

label {
  display: flex;
  margin-top: 50px;
}

.input-file,
button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  outline: none;
}

.input-file {
  // visibility: hidden;
}

.form-textarea {
  margin: 50px;

  textarea {
    width: fill-available;
    height: 600px;
  }

  button {
    float: right;
  }
}
