$bkg-1: #fff;
$bkg-2: #efefef;

section {
  padding: 3vh;
}

.section-home {
  margin-top: 70px;
}

app-title {
  width: 100%;
}

.bkg-1 {
  background-color: $bkg-1;
}

.bkg-2 {
  background-color: $bkg-2;
}
