
.test {
    position: relative;
    background-color: red;
    padding-top: 200px;
    padding-bottom: 200px;
}
.test1 {
    position: relative;
    background-color: blue;
    padding-top: 200px;
    padding-bottom: 200px;
}
.test2 {
    position: relative;
    background-color: green;
    padding-top: 200px;
    padding-bottom: 200px;
}
.test3 {
    position: relative;
    background-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
}
.test4 {
    position: relative;
    background-color: purple;
    padding-top: 200px;
    padding-bottom: 200px;
}