@import "../../shared/variables";

section {
  margin: auto;
  max-width: $max-width-content;
  padding-bottom: 1rem;
}

.section-home {
  margin-top: 70px;
  background-image: url("../../../assets/background/background-home.jpg");
  background-size: cover;
  height: 60vh;
  position: relative;
  margin: 0;
  max-width: 2000px;
}

.section-home:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

app-title {
  width: 100%;
}

.bkg-section-1 {
  background-color: $bkg-section-1;
}

.bkg-section-2 {
  background-color: $bkg-section-2;
}
