<!-- <app-container></app-container> -->


<!-- HOME -->
<section class="bkg-1 section-home" id="home" fxLayout="row" fxLayoutAlign="space-around start">
  <app-title title="HOME"></app-title>
</section>

<!-- HOME -->
<section class="bkg-2" id="about" fxLayout="row" fxLayoutAlign="space-around start">
  <app-title title="Sobre Nós"></app-title>
</section>

<!-- SERVICES  -->
<section class="bkg-1" id="service" fxLayout="row" fxLayoutAlign="space-around start">
  <app-title title="Serviços"></app-title>
</section>

<!-- PRODUTOS -->
<section class="bkg-2" id="products" fxLayout="row" fxLayoutAlign="space-around start">
  <app-title title="Produtos"></app-title>
</section>

<!-- CONTATOS -->
<section class="bkg-1" id="contact" fxLayout="column" fxLayoutAlign="space-around start">
  <app-title title="Contatos"></app-title>
  <app-contacts></app-contacts>
</section>