<div class="slideshow-container" fxLayout="row" fxLayoutAlign="center center">

  <div *ngFor="let item of aboutItensGallery; let index = index; trackBy: identify">
    <div *ngIf="slideIndex === index+1" class="fade">
      <div class="numbertext">{{ index+1 }} / {{ aboutItensGallery.length }}</div>
      <img [alt]="item.name" [src]="item.image">
    </div>
  </div>

  <a class="prev" (click)="prevSlide()">&#10094;</a>
  <a class="next" (click)="nextSlide()">&#10095;</a>
  <div class="current-slide">
    <span *ngFor="let item of aboutItensGallery; let index = index; trackBy: identify" [ngClass]="{active: slideIndex === index+1}"
      class="dot" (click)="currentSlide(index+1)"></span>
  </div>
</div>
<br>