@import "../../../shared/variables";

.btn-group .button {
  background-color: $primary;
  border: none;
  color: white;
  padding: 0.6rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 5px;
}

.btn-group .button:hover {
  background-color: $primary-hover;
}
