<div class="container">
    <div class="wall wall-1" id="wall-1">
        <a href="#wall-3">Voltar</a>
        <h1>carrosel numero - 1</h1>
        <a href="#wall-2">Avançar</a>
    </div>

    <div class="wall wall-2" id="wall-2">
        <a href="#wall-1">Voltar</a>
        <h1>carrosel numero - 2</h1>
        <a href="#wall-3">Avançar</a>
    </div>

    <div class="wall wall-3" id="wall-3">
        <a href="#wall-2">Voltar</a>
        <h1>carrosel numero - 3</h1>
        <a href="#wall-1">Avançar</a>
    </div>
</div>



























<!-- swiper__module swiper-container -->
<div class="swiper__module swiper-container mt-50"
data-options='{"slidesPerView":3,"spaceBetween":30,"autoplay":2000,"breakpoints":{"640":{"slidesPerView":1},"991":{"slidesPerView":2}}}'>
<div class="swiper-wrapper">

    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-paint-bucket"></i></div>
        <h3 class="service__title">Social Media</h3>
        <p class="service__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo,
            lacinia non</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-lintern"></i></div>
        <h3 class="service__title">Investment Planning</h3>
        <p class="service__text">Mauris lacinia venenatis dolor sit amet viverra. Integer
            malesuada nulla neque.</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-gleam"></i></div>
        <h3 class="service__title">Risk Management</h3>
        <p class="service__text">Curabitur elementum urna augue, eu porta purus gravida in. Cras
            consectetur,</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-anchor"></i></div>
        <h3 class="service__title">Marketing Planning</h3>
        <p class="service__text">Duis porttitor libero ac egestas euismod. Maecenas quis felis
            turpis. Nulla quis</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-refresh"></i></div>
        <h3 class="service__title">Site Security</h3>
        <p class="service__text">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at
            tortor arcu.</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-joy"></i></div>
        <h3 class="service__title">Risk Management</h3>
        <p class="service__text">Integer placerat ullamcorper urna nec rhoncus. Sed velit justo,
            lacinia non</p>
    </div><!-- End / service -->


    <!-- service -->
    <div class="service mb-0">
        <div class="service__icon"><i class="pe-7s-lock"></i></div>
        <h3 class="service__title">Investment Planning</h3>
        <p class="service__text">Mauris lacinia venenatis dolor sit amet viverra. Integer
            malesuada nulla neque.</p>
    </div><!-- End / service -->


</div>
</div><!-- End / swiper__module swiper-container -->


<p><code>wrapAround: true</code></p>

<!-- Flickity HTML init -->
<div class="gallery js-flickity"
  data-flickity-options='{ "wrapAround": true }'>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>