@import "../../../shared/variables";

.card-form {
  color: $primary;
  box-shadow: 0 0 5px $box-shadow-color;
  background: white;
  padding: {
    left: 0.5rem;
    right: 0.5rem;
    top: 1.5rem;
    bottom: 1.5rem;
  }
  margin: 1rem;
  width: 930px;
}

.buttons {
  margin-right: 1rem;
}

.input {
  margin: 0.5rem 0rem;
}
