@import "app/shared/variables";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: $title;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: $title;
}

//FIXME: titulos das sections
.section-title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #635551;
}

// font-family: "Raleway", sans-serif; // FIXME: foi utilizado no botão "Get started", botão "buy",

// ajuste nas notificações do site
#toast-container {
  max-width: $max-width-content;

  div {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

// FIXME: Verificar onde tera essas propiedades: Ex: data-aos="fade-up" class="aos-init aos-animate"
// [data-aos^=fade][data-aos^=fade].aos-animate {
//     opacity: 1;
//     transform: translateZ(0);
// }