<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle" (click)="ativeToggle($event)">
    <!-- <i class="fas fa-bars"></i>  --> HAMBURGUER
  </span>

  <a href="/" class="logo-div"><img src="assets/logo-phextrack.png" alt="Logomarca da Phex Track" class="logo"></a>

  <ul class="main-nav" id="js-menu">

    <li *ngFor="let menu of listMenus" id="{{menu.reference}}">
      <a class="nav-links">{{menu.name}}</a>
    </li>


    <!-- TESTE DO BASE64  -->
    <li>
      <a routerLink="/base64" routerLinkActive="active" class="nav-links">Base64</a>
    </li>
  </ul>
</nav>