@import "../../shared/variables";

.navbar {
  font-size: 18px;
  // background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); //COR GRADIENTE
  // background-color: #fff;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}


// FIXME: utilizado para o drop down do menu
// .navbar .drop-down .drop-down > a:after {
//   content: "\eaa0";
//   font-family: IcoFont;
//   position: absolute;
//   right: 15px;
// }

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: $text-color;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  width: 92.8px;
  height: 37.5px;
  margin: auto;
  margin: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: $text-color-contrast;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin: 10px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: $primary-hover;
  }
}
