<nav class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle" (click)="ativeToggle($event)">
    <!-- <i class="fas fa-bars"></i> -->
    HAMBURGUER
  </span>
  <a href="#" class="logo-div"><img src="assets/logo-phextrack.png" alt="Logomarca da Phex Track" class="logo"></a>
  <ul class="main-nav" id="js-menu">
    <li>
      <a href="#" class="nav-links">Home</a>
    </li>
    <li>
      <a href="#" class="nav-links">Products</a>
    </li>
    <li>
      <a href="#" class="nav-links">About Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Contact Us</a>
    </li>
    <li>
      <a href="#" class="nav-links">Blog</a>
    </li>
  </ul>
</nav>