@import "../../shared/variables";

.navbar {
  top: 0;
  position: fixed;
  width: 100vw;
  padding-bottom: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
}

// FIXME: utilizado para o drop down do menu
// .navbar .drop-down .drop-down > a:after {
//   content: "\eaa0";
//   font-family: IcoFont;
//   position: absolute;
//   right: 15px;
// }

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: $text-color;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  width: 92.8px;
  height: 37.5px;
  margin: auto;
  margin: 10px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: $text-color-contrast;
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
    border-bottom: 2px dotted white;
    transition: border-bottom 0.3s ease-in;
  }

  .logo {
    margin: 10px;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: $primary-hover;
    border-bottom: 2px dotted $secondary;
  }
}
